.sentrion-sensor {
  width: 100%;
  height: 40%;
  position: relative;
}

.sentrion-loading {
  font-family: "SeoulHangangEB", sans-serif;
  font-size: 32px;
  color: aliceblue;
}

.sentrion-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.sentrion-item {
  position: relative;
  width: 100px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  background-image: none;
}

.sentrion-temp {
  top: 100px;
  left: 15px;
}

.sentrion-humidity {
  top: 145px;
  left: 15px;
}

.sentrion-label {
  font-family: 'SeoulHangangEB';
  font-weight: 400;
  font-size: 20px;
  color: aliceblue;
}

.sentrion-humidity .sentrion-label {
  font-family: 'SeoulHangangEB';
  font-weight: 400;
  font-size: 20px;
  color: aliceblue;
}

.sentrion-grade {
  width: 100%;
}

.sentrion-grade-text {
  font-family: 'SeoulHangangEB';
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: rgb(0, 146, 215);
  margin-bottom: 90px;
}

