.water-level {
  width: 110px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.water-level div {
  display: flex;
  align-items: center;
}

.water-level-title {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 118px;
  background-color: #f0d000;
  border-radius: 10px;
  padding: 15px 5px;
  position: relative;
  bottom: 70px;
  animation: blink 2s infinite;
}

.water-level p {
  position: relative;
  font-family: "SeoulHangangEB";
  font-weight: 400;
  font-size: 26px;
  margin: 0;
  color: aliceblue;
  top: -36px;
}

.water-level span {
  position: relative;
  font-family: "SeoulHangangEB";
  font-weight: 400;
  font-size: 30px;
  color: rgb(225, 4, 20);
  margin: 0 5px 0;
  top: -36px;
}

.warning-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.warning-text {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.warning-text span {
  font-family: "SeoulHangangEB";
  font-weight: 900;
  font-size: 55px !important;
  color: #000 !important;
  text-align: center;
  line-height: 1.4;
  top: 0 !important;
  left: 2.5px !important;
  margin: 0 !important;
  letter-spacing: 6px;
}

.water-level-warning {
  position: relative;
  width: 120px;
  height: 200px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 8px;
  animation: blink 2s infinite;
}

.water-level-warning .warning-text {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 118px;
  background-color: #f0d000;
  border-radius: 10px;
  padding: 15px 5px;
}

.water-level-warning .warning-text span {
  font-family: "SeoulHangangEB";
  font-weight: 900;
  font-size: 55px !important;
  color: #000 !important;
  text-align: center;
  line-height: 1.4;
  top: 0 !important;
  margin-left: 4px !important;
  letter-spacing: 6px;
}

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}