.stink-data-good,
.stink-data-running {
    width: 100px;
    height: 150px;
    border: 3px solid aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 1px;
  }
  
  #stink-data-page2 .stink-data-good,
  #stink-data-page2 .stink-data-running {
    position: absolute;
    left: 65px;
    top: 650px;
    transform: translate(-50%, -50%);
    border: none;
  }

  .stink-data-good h1,
  .stink-data-running h1 {
    font-family: "SeoulHangangEB";
    font-weight: 400;
    font-size: 22px;
    margin: 0;
  }

  .stink-data-good h1 {
    color: rgb(0, 146, 215);
  }
  .stink-data-running h1 {
    color: rgb(255, 196, 25);
  }

  .stink-data-good h2,
  .stink-data-running h2  {
    font-family: "SeoulHangangEB";
    font-weight: 400;
    font-size: 22px;
    margin: 0;
  }

  .stink-data-running h2 {
    font-family: "SeoulHangangEB";
    font-weight: 400;
    font-size: 28px;
    margin: 0;
  }

  .stink-data-good h2 {
    color: rgb(0, 146, 215);
  }
  .stink-data-running h2 {
    color: rgb(250, 191, 28);
  }

  .stink-data-good img {
    width: 75px;
    height: 75px;
    margin: 10px 0 15px 0;
  } 

  .stink-data-running img {
    width: 75px;
    height: 75px;
    margin: 15px 0 15px 0;
    animation: rotateClockwise 5s infinite linear;
    transform-origin: center;
    display: block;
  }

  .stink-images {
  position: relative;
  width: 100%;
  height: 100%;
}

.stink-image-back {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 2s infinite ease-in-out; 
}

.stink-image-front {
  position: relative;
  left: 13px;
  z-index: 1;
}

  @keyframes headtilt {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }

  @keyframes pulse {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    50% {
      transform: translate(-50%, -50%) scale(1.1);
      opacity: 0.8;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
