.stink-data-good,
.stink-data-running {
    width: 110px;
    height: 200px;
    border: 3px solid aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 1px;
  }
  
  #stink-data-page2 .stink-data-good,
  #stink-data-page2 .stink-data-running {
    position: absolute;
    left: 65px;
    top: 650px;
    transform: translate(-50%, -50%);
    border: none;
  }

  .stink-data-good h1,
  .stink-data-running h1 {
    font-family: "SeoulHangangEB";
    font-weight: 400;
    font-size: 22px;
    margin: 0;
  }

  .stink-data-good h1 {
    color: rgb(71, 131, 174);
  }
  .stink-data-running h1 {
    color: rgb(255, 196, 25);
  }

  .stink-data-good h2,
  .stink-data-running h2  {
    font-family: "SeoulHangangEB";
    font-weight: 400;
    font-size: 28px;
    margin: 0;
  }

  .stink-data-running h2 {
    font-family: "SeoulHangangEB";
    font-weight: 400;
    font-size: 28px;
    margin: 0;
  }

  .stink-data-good h2 {
    color: rgb(71, 131, 174);
  }
  .stink-data-running h2 {
    color: rgb(255, 196, 25);
  }

  .stink-data-good img {
    width: 75px;
    height: 75px;
    margin: 10px 0 15px 0;
    animation: headtilt 1.5s infinite alternate ease-in-out;
    transform-origin: bottom center;
  } 

  .stink-data-running img {
    width: 75px;
    height: 75px;
    margin: 15px 0 15px 0;
    animation: rotateClockwise 5s infinite linear;
    transform-origin: center;
    display: block;
  }

  @keyframes headtilt {
    0% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(10deg);
    }
  }

  @keyframes rotateClockwise {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
