.air-quality {
  position: relative;
  bottom: 50px;
  background-size: auto 720px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: 'SeoulHangangEB';
  font-weight: 900;
  color: rgb(230, 201, 183);
}

.air-quality-text {
  position: relative;
  top: 85px;
  text-align: end;
  margin-right: 10px;
}

.air-quality-text h1 {
  font-size: 17px;
  font-weight: 400;
  margin: 0;
}
.air-quality-text p {
  font-size: 17px;
  font-weight: 400;
}

.pm10 {
  position: relative;
  top: 140px;
  left: 15px;
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: none;
  background-image: none;
}

.o3 {
  position: relative;
  top: 190px;
  left: 15px;
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pm10 span,
.o3 span {
  font-family: 'SeoulHangangEB';
  font-weight: 400;
  font-size: 22px;
  color: aliceblue;
}

.grade p,
.o3 p {
  font-family: 'SeoulHangangEB';
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.two-chars {
  letter-spacing: 20px;
  padding-left: 20px;
}

.emoji img {
  width: 75px;
  height: 75px;
  margin: 10px 0 15px 0;
}

.weather,
.air-quality *,  
.dust-info,
.ozone-info,
.pm10,
.o3,
.air-quality-text {
  background: none;
  background-image: none;
}




