.logo-1 {
   text-align: center;
  }

.logo-1 img {
  width: 66px;
  height: 42px;
}

.logo-2 img {
  text-align: center;
}

.logo-3 img {
  text-align: center;
  position: relative;
} 

.logo-4 img {
  text-align: center;
  position: relative;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
} 