.logo-3 img {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
} 

.logo-4 img {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
} 