.date {
    color: #ffffff;
    font-family: 'SeoulHangangM', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 3px;
    text-align: center;
}

.time {
    color: rgb(153, 179, 82);
    font-family: 'SeoulHangangM';
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-top: 3px;
}

